header img {
  width: 100vw; 
  height: 100dvh;
  object-fit: cover;
}


h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.mw {
    text-align: center;
    font-size: 40px;
}

.win {
    text-align: left;
    font-size: 30px;
}

p {
    font-size: 25px;
}

a:visited {
    color: rgb(221, 43, 43);
}

a:hover {
    color: rgb(221, 43, 43);
}

mark {
    color: rgb(0, 0, 0);
}

code {
    background: #f1f1f1;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: Consolas, monospace;
}

pre {
    background: #f8f9fa;
    border: 1px solid #ccc;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 6px;
}

header {
    width:auto;
}

body {
    position: relative;
    width: auto;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2023/12/08/20/30/ai_generated-8438102_1280.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

footer img {
  width: 100vw; 
  height: 100dvh;
  object-fit: cover;
}



