body {
background-image:linear-gradient(to bottom,#0CC7DB,#FFFFFF)
}

a {
background-color: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.4);
  transition: transform 0.08s ease;
  transform: translateX(1px) skewX(1deg);
}

a:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.7);
}
